/**
 * @helpscout/doc-article-styles v0.1.6
 * Doc Article CSS
 * iOS
 */

.c-BeaconHistoryTimeline { max-width: 800px; width: 100%; }

.c-BeaconHistoryTimeline { box-sizing: border-box; }

.c-BeaconHistoryTimeline { font-family: "Roboto", "Helvetica", sans-serif; font-size: 14px; }

.c-BeaconHistoryTimeline * { box-sizing: border-box; }

.c-BeaconHistoryTimelineHeading { font-size: 15px; font-weight: bold; line-height: 1.1; margin-bottom: 12px; }

.c-BeaconHistoryTimelineHeading { box-sizing: border-box; }

.c-BeaconHistoryTimelineHeading { font-family: "Roboto", "Helvetica", sans-serif; font-size: 14px; }

.c-BeaconHistoryTimelineHeading * { box-sizing: border-box; }

.c-BeaconHistoryTimelineList { width: 100%; }

.c-BeaconHistoryTimelineList { box-sizing: border-box; }

.c-BeaconHistoryTimelineList { font-family: "Roboto", "Helvetica", sans-serif; font-size: 14px; }

.c-BeaconHistoryTimelineList * { box-sizing: border-box; }

.c-BeaconHistoryTimelineListItem { color: #253540; display: block; line-height: 1.5; margin-left: 4px; padding: 6px 0 6px 20px; position: relative; }

.c-BeaconHistoryTimelineListItem { box-sizing: border-box; }

.c-BeaconHistoryTimelineListItem { font-family: "Roboto", "Helvetica", sans-serif; font-size: 14px; }

.c-BeaconHistoryTimelineListItem * { box-sizing: border-box; }

.c-BeaconHistoryTimelineListItem__block { max-width: calc(100% - 60px); }

.c-BeaconHistoryTimelineListItem__timestamp { min-width: 60px; }

.c-BeaconHistoryTimelineListItem::before { background-color: #e3e8eb; bottom: 0; content: ""; left: 4px; position: absolute; top: 0; width: 2px; z-index: 0; }

.c-BeaconHistoryTimelineListItem::after { background-color: white; border-radius: 50%; border: 2px solid #a5b2bd; content: ""; display: block; height: 6px; left: 0; position: absolute; top: 11px; width: 6px; z-index: 1; }

.c-BeaconHistoryTimelineListItem:first-child::before { bottom: 0; top: 11px; }

.c-BeaconHistoryTimelineListItem:last-child::before { bottom: calc(100% - (11px + (6px/2))); top: 0; }

.c-BeaconHistoryTimelineListItem:only-child::before { display: none; }

.c-BeaconHistoryTimelineListItem a { color: #0077CC; cursor: pointer; outline: none; text-decoration: none; }

.c-BeaconHistoryTimelineListItem a:hover { color: #1292EE; text-decoration: underline; }

#fullArticle { color: #4f5d6b; font-family: 'Roboto', 'Helvetica', sans-serif; line-height: 1.75em; }

#fullArticle { box-sizing: border-box; }

#fullArticle { font-family: "Roboto", "Helvetica", sans-serif; font-size: 14px; }

#fullArticle * { box-sizing: border-box; }

#fullArticle * { max-width: 100%; }

#fullArticle a, #fullArticle input, #fullArticle select, #fullArticle textarea { outline: 0 !important; }

#fullArticle { padding: 0; }

#fullArticle > *:first-child { margin-top: 0; }

#fullArticle blockquote { border-left: 2px solid #e3e8eb; font-size: 1em; font-style: italic; margin: 1.5em 1.2em 1.5em 0; padding: 0 0 0 1em; }

#fullArticle pre { background: #f1f3f5; border-radius: 3px; color: #4f5d6b; font-family: "Roboto Mono", Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace; font-size: 0.9em; margin: 0 0 2em; overflow: auto; padding: 1.3em 1em; }

@-moz-document url-prefix() { #fullArticle pre { border-radius: initial; } }

#fullArticle > div { margin-bottom: 1.5em; margin-top: 1em; }

#fullArticle h1, #fullArticle h2, #fullArticle h3, #fullArticle h4, #fullArticle h5, #fullArticle h6 { color: #2a3b47; font-weight: 500; margin-bottom: .65em; margin-top: 1.26em; }

#fullArticle h1:first-child, #fullArticle h2:first-child, #fullArticle h3:first-child, #fullArticle h4:first-child, #fullArticle h5:first-child, #fullArticle h6:first-child { margin-top: 0; }

#fullArticle h1 { font-size: 2em; margin: .67em 0; }

#fullArticle h2 { font-size: 1.56em; }

#fullArticle h3 { font-size: 1.4em; }

#fullArticle h4 { font-size: 1.24em; }

#fullArticle h5 { font-size: 1em; }

#fullArticle hr { border-left: 0; border-right: 0; border-bottom: 0; border-top: 1px solid #e3e8eb; margin: 2em auto; }

#fullArticle img { border-radius: 4px; border: 1px solid #e3e8eb; box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.04); display: block; margin: 1em 0 2em; padding: 0.3em; }

#fullArticle img.noBdr { border: 0; border-radius: 0; box-shadow: none; }

#fullArticle ul, #fullArticle ol { list-style-position: outside; padding-left: 1em; }

#fullArticle ol ol { list-style-type: lower-alpha; margin: 0 0 9px 25px; }

#fullArticle li { margin-bottom: 0.2em; }

#fullArticle dl { clear: both; margin: 0 0 1em; }

#fullArticle dl dt { color: inherit; display: inline-block; float: left; font-size: 1em; font-weight: 500; margin: 3px 0 0 0; padding: 0 .5em; color: #2a3b47; border-left: 3px solid #1292EE; }

#fullArticle dl dd { padding-top: 3px; margin: 0 0 1.5em 2em; }

#fullArticle dl p:first-child { margin-top: 0; }

#fullArticle a { color: #0077CC; text-decoration: none; }

#fullArticle a:hover { text-decoration: underline; }

#fullArticle p { margin-bottom: 1.5em; margin-top: 1em; }

#fullArticle table { border-collapse: collapse; border-spacing: 0; width: 100%; }

#fullArticle table thead { color: #2a3b47; font-weight: 500; }

#fullArticle table thead th { display: table-cell; padding: 0.5em 0; text-align: left; vertical-align: bottom; }

#fullArticle table thead th:first-child { border-top: 0; }

#fullArticle table td { border-top: 1px solid #e3e8eb; padding: 0.5em 0; text-align: left; vertical-align: top; }

#fullArticle table.table-striped tr:nth-child(odd) td { background: #f9fafa; }

#fullArticle table.table-bordered { border-collapse: separate; border-radius: 3px; border: 1px solid #e3e8eb; border-left: 0; }

#fullArticle table.table-bordered td { padding: 0.5em; }

#fullArticle table.table-bordered thead th { padding: 0.5em; }

#fullArticle table.table-bordered tr:first-child td { border-top: 0; }

#fullArticle table.table-bordered th, #fullArticle table.table-bordered td { border-left: 1px solid #e3e8eb; }

#fullArticle p { font-size: 1em; }

#fullArticle strong { color: #394956; }

#fullArticle .callout { background: #f1f3f5; border-left: 3px solid #d6dde3; border-radius: 2px; margin: 0 0 2em; padding: 1.2em 1em 1em; }

#fullArticle .callout h1, #fullArticle .callout h2, #fullArticle .callout h3, #fullArticle .callout h4, #fullArticle .callout h5, #fullArticle .callout h6, #fullArticle .callout p { color: #394956; font-weight: 500; margin: 0 0 0.3em; }

#fullArticle .callout pre { background: #e3e8eb; color: #394956; margin: 0 0 0.3em; }

#fullArticle .callout.dashed { border: 1px dashed #d6dde3; }

#fullArticle .callout-yellow { background: #fff6e2; border-left: 3px solid #ffd56d; border-radius: 2px; margin: 0 0 2em; padding: 1.2em 1em 1em; }

#fullArticle .callout-yellow h1, #fullArticle .callout-yellow h2, #fullArticle .callout-yellow h3, #fullArticle .callout-yellow h4, #fullArticle .callout-yellow h5, #fullArticle .callout-yellow h6, #fullArticle .callout-yellow p { color: #b37100; font-weight: 500; margin: 0 0 0.3em; }

#fullArticle .callout-yellow pre { background: #e3e8eb; color: #394956; margin: 0 0 0.3em; }

#fullArticle .callout-yellow.dashed { border: 1px dashed #d79400; }

#fullArticle .callout-blue { background: #D6EDFF; border-left: 3px solid #57B0FB; border-radius: 2px; margin: 0 0 2em; padding: 1.2em 1em 1em; }

#fullArticle .callout-blue h1, #fullArticle .callout-blue h2, #fullArticle .callout-blue h3, #fullArticle .callout-blue h4, #fullArticle .callout-blue h5, #fullArticle .callout-blue h6, #fullArticle .callout-blue p { color: #034077; font-weight: 500; margin: 0 0 0.3em; }

#fullArticle .callout-blue pre { background: #e3e8eb; color: #394956; margin: 0 0 0.3em; }

#fullArticle .callout-blue.dashed { border: 1px dashed #1292EE; }

#fullArticle .callout-green { background: #e4fbe6; border-left: 3px solid #81dc9e; border-radius: 2px; margin: 0 0 2em; padding: 1.2em 1em 1em; }

#fullArticle .callout-green h1, #fullArticle .callout-green h2, #fullArticle .callout-green h3, #fullArticle .callout-green h4, #fullArticle .callout-green h5, #fullArticle .callout-green h6, #fullArticle .callout-green p { color: #228350; font-weight: 500; margin: 0 0 0.3em; }

#fullArticle .callout-green pre { background: #e3e8eb; color: #394956; margin: 0 0 0.3em; }

#fullArticle .callout-green.dashed { border: 1px dashed #4bc27d; }

#fullArticle .callout-red { background: #ffe3e2; border-left: 3px solid #f45b55; border-radius: 2px; margin: 0 0 2em; padding: 1.2em 1em 1em; }

#fullArticle .callout-red h1, #fullArticle .callout-red h2, #fullArticle .callout-red h3, #fullArticle .callout-red h4, #fullArticle .callout-red h5, #fullArticle .callout-red h6, #fullArticle .callout-red p { color: #9d1f1a; font-weight: 500; margin: 0 0 0.3em; }

#fullArticle .callout-red pre { background: #e3e8eb; color: #394956; margin: 0 0 0.3em; }

#fullArticle .callout-red.dashed { border: 1px dashed #e52f28; }

html { -webkit-text-size-adjust: none; }

#fullArticle { padding: 0 15px; font: -apple-system-subheadline; }

#fullArticle .c-Article__title { color: #2a3b47; font: -apple-system-title3; line-height: 1.2; margin-right: 20px; margin-bottom: 15px; word-wrap: break-word; font-weight: bolder; }

#fullArticle .u-overflow-x { overflow-x: auto; }

#fullArticle table.table-bordered { border-collapse: collapse; }
